# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MLOps artifacts
backend/dataset/
backend/ml_registry/
backend/mlflow_experiments/
backend/app/ml/*.joblib
backend/app/ml/metadata.joblib
backend/app/ml/scaler.joblib
*.pkl
*.joblib
